<header>
  <nav class="bg-amber-700 px-4 lg:px-6 py-2.5 dark:bg-gray-900">
    <div class="flex flex-wrap items-center mx-auto max-w-screen-xl">
      <a href="/" class="flex items-center">
        <img
          src="https://st2.depositphotos.com/1738826/11424/v/600/depositphotos_114244980-stock-illustration-funny-armadillo-cartoon-posing.jpg"
          class="mr-3 h-6 sm:h-9"
          alt="Flowbite Logo"
        />
        <span class="self-center text-xl font-semibold text-white"
          >Tatu Bolita App</span
        >
      </a>
      <div class="flex flex-1 items-center lg:order-2 justify-between">
        <div class="justify-right ml-20">
          <a
            href="/quienes_somos"
            class="text-white hover:bg-amber-500 active:bg-amber-600 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
            >Quienes somos</a
          >
        </div>
        <div class="">
          <a
            href="#"
            class="text-white hover:bg-amber-500 active:bg-amber-600 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
            >Lenguaje</a
          >
          <a
            href="#"
            class="text-white hover:bg-amber-500 active:bg-amber-600 rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2"
            >Vista</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
