<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Galeria</title>
    <body>
      {% include 'partials/header2.html' %}
      <div class="bg-amber-100 flex items-center justify-center">
        <div>
          <!-- grupo 1 -->
          <div class="justify-center text-orange-900 p-6">
            <!-- imagen 1 -->
            <div class="w-[350px] h-[350px] mt-2 text-center">
              <img
                class="flex w-auto h-auto items-center justify-center"
                src="https://media.discordapp.net/attachments/1053685100845465662/1055187996246278164/140530162133_mascota1_624x351_associacaocaatinga_c.png"
                alt="armadillo"
              />
            </div>
            <div class="mt-2 text-center">
              <h1 class="font-bolt">Autor: <span>Omar Unruh</span></h1>
              <h1 class="font-bolt">A単o: <span>2022</span></h1>
            </div>
          </div>
          <div class="justify-center text-orange-900 p-6">
            <!-- imagen 2 -->
            <div class="w-[350px] h-[350px]">
              <img
                class="w-auto h-auto rounded"
                src="https://media.discordapp.net/attachments/1053685100845465662/1055187997441662997/tatubola_copia.png?width=452&height=400"
                alt="armadillo"
              />
            </div>
            <div class="mt-2 text-center">
              <h1 class="font-bolt">Autor: <span>Omar Unruh</span></h1>
              <h1 class="font-bolt">A単o: <span>2022</span></h1>
            </div>
          </div>
        </div>
        <div>
          <!-- grupo 2 -->
          <div class="justify-center text-orange-900 p-6">
            <!-- imagen 3 -->
            <div class="w-[350px] h-[350px]">
              <img
                class="w-auto h-auto rounded"
                src="https://media.discordapp.net/attachments/1053685100845465662/1055187996661534750/destaque-10-896x700.png?width=408&height=400 "
                alt="armadillo"
              />
            </div>
            <div class="mt-2 text-center">
              <h1 class="font-bolt">Autor: <span>Omar Unruh</span></h1>
              <h1 class="font-bolt">A単o: <span>2022</span></h1>
            </div>
          </div>
          <div class="justify-center text-orange-900 p-6">
            <!-- imagen 4 -->
            <div class="w-[350px] h-[350px]">
              <img
                class="w-auto h-auto rounded"
                src="https://media.discordapp.net/attachments/1053685100845465662/1055187997043195995/maxresdefault.png?width=410&height=400"
                alt="armadillo"
              />
            </div>
            <div class="mt-2 text-center">
              <h1 class="font-bolt">Autor: <span>Omar Unruh</span></h1>
              <h1 class="font-bolt">A単o: <span>2022</span></h1>
            </div>
          </div>
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </body>
  </head>
</html>
