<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Quienes somos</title>
    <body>
      {% include 'partials/header2.html' %}
      <div class="justify-center">
        <div class="w-[Full] rounded flex items-center">
          <div class="w-[700px]">
            <img
              class="w-auto h-auto bg-auto rounded"
              src="https://media.discordapp.net/attachments/1053685100845465662/1054822661282344960/140530162133_mascota1_624x351_associacaocaatinga_copia.jpg"
              alt="armadillo"
            />
          </div>
          <div class="">
            <h1>Autor:</h1>
            <p class="">Omar Unruh</p>
            <h1>Año:</h1>
            <p class="">2022</p>
          </div>
        </div>
        <div class="w-[Full] rounded flex items-center">
          <div class="w-[700px]">
            <img
              class="w-auto h-auto bg-auto rounded"
              src="https://media.discordapp.net/attachments/1053685100845465662/1054822771160514602/destaque-10-896x700.jpg?width=743&height=580"
              alt="armadillo"
            />
          </div>
          <div class="">
            <h1>Autor:</h1>
            <p class="">Omar Unruh</p>
            <h1>Año:</h1>
            <p class="">2022</p>
          </div>
        </div>
        <div class="w-[Full] rounded flex items-center">
          <div class="w-[700px]">
            <img
              class="w-auto h-auto bg-auto rounded"
              src="https://media.discordapp.net/attachments/1053685100845465662/1054822815410438264/maxresdefault.jpg?width=1031&height=580"
              alt="armadillo"
            />
          </div>
          <div class="">
            <h1>Autor:</h1>
            <p class="">Omar Unruh</p>
            <h1>Año:</h1>
            <p class="">2022</p>
          </div>
        </div>
        <div class="w-[Full] rounded flex items-center justify-center">
          <div class="w-[700px]">
            <img
              class="w-auto h-auto bg-auto rounded"
              src="https://media.discordapp.net/attachments/1053685100845465662/1054822873648336956/tatubola_copia.jpg?width=969&height=580"
              alt="armadillo"
            />
          </div>
          <div class="">
            <h1>Autor:</h1>
            <p class="">Omar Unruh</p>
            <h1>Año:</h1>
            <p class="">2022</p>
          </div>
        </div>
      </div>
      {% include 'partials/footer.html' %}
    </body>
  </head>
</html>
