{% extends 'base.html' %}
<!-- comando de flask -->
{% block title %} Ingreso de datos {% endblock %} {% block content %}
<section>
  <div class="bg-grey-lighter min-h-screen flex flex-col bg-amber-100">
    <div class="container max-w-sm mx-auto flex-1 flex flex-col items-center justify-center px-2">
      <div class="bg-white px-6 py-8 rounded shadow-md text-orange-700 w-full bg-yellow-50">
        <h1 class="mb-8 text-3xl text-center font-bold">INGRESAR DATOS</h1>
        <form action="" method="post">
          <select class="text-black block border w-full p-3 rounded-full mb-4 bg-white" name="opcion" id="opcion" multiple>
            <option value="ingreso">INGRESOS</option>
            <option value="egreso">GASTOS</option>
          </select>
          <p class="font-bold ml-4">Monto:</p>
          <input type="number" name="monto" id="monto" class="block border border-grey-light w-full p-3 rounded-full mb-4" placeholder="Ej: 100000 Gs" />
          <p class="font-bold ml-4">Categoria:</p>
       
          <select multiple name="categoria" id="categoria"  class="text-black block border w-full p-3 rounded-full mb-4 bg-white">
              <option value="salario">salario</option>
              <option value="extras">extras</option>
              <option value="vivienda">vivienda</option>
              <option value="deudas">deudas</option>
              <option value="servicios">servicios</option>
              <option value="supermercado">supermercado</option>
              <option value="movilidad">movilidad</option>
              <option value="entretenimiento">entretenimiento</option>
          </select>

          <button type="submit"
            class="w-full text-center font-bold uppercase py-3 rounded-full text-white my-1 bg-orange-700 hover:bg-orange-500 active:bg-orange-600">
            Guardar
          </button>
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock %}