{% extends 'base.html' %}
<!-- comando de flask -->
{% block title %} Perfil {% endblock %} {% block content %}
<body>
  <div class="flex bg-amber-50 items-center justify-center">
    <div class="flex-col flex">
      <div class="ml-8 mt-8">
        <div class="bg-amber-100 p-6 py-16 rounded drop-shadow-md w-fit">
          <h1 class="text-4xl uppercase font-bold opacity-75">
            <span class="font-bold text-orange-700 mr-2 text-4xl"
              >Bienvenido
            </span>
            {{nombre}} !<br />
          </h1>
          <h1 class="text-2xl font-bold opacity-75">
            <span class="font-bold text-orange-700 mr-2 text-2xl">Nro Cel:</span
            >{{telefono}}
          </h1>
          <h1 class="text-2xl font-bold opacity-75">
            <span class="font-bold text-orange-700 mr-2 text-2xl"
              >Tu saldo es </span
            >{{saldo}} Gs
          </h1>
        </div>
      </div>
      <div class="flex mt-2 mb-8 justify-center">
        <button
          class="bg-orange-700 rounded-full px-2 mt-4 hover:bg-orange-500 active:bg-orange-600 drop-shadow-md"
        >
          <p class="text-white text-center px-2 py-2">Cambiar contraseña</p>
        </button>
        <div class="ml-2">
          <button
            class="bg-orange-700 rounded-full px-2 py-2 mt-4 hover:bg-orange-500 active:bg-orange-600 drop-shadow-md"
          >
            <a
              class="text-white text-center px-2 py-2"
              href="{{url_for('ingresar_datos', nombre=nombre, telefono=telefono,saldo=saldo) }}"
              >Ingresar Datos</a
            >
          </button>
        </div>
      </div>
    </div>
    <div class="m-8 flex justify-center">
      <div
        class="items-center flex-col flex justify-center w-auto h-auto bg-white rounded drop-shadow-md py-12"
      >
        <div>
          <p class="p-4 m-4 text-center">
            Este es un super consejo para que administres tu platita uwu!
          </p>
        </div>
        <br />
        <div class="w-40">
          <img
            class="justify-center mb-8 hover:rotate-45 ease-in-out duration-75"
            src="https://media.discordapp.net/attachments/1053685100845465662/1055140962181070910/bolita-consejera.png?width=491&height=400"
            alt="armadillo acostadito"
          />
        </div>
      </div>
    </div>
    <br />
  </div>
  <!-- ACA ESTA EL GRAFICO  -->
  <div class="bg-amber-50 p-6 flex justify-center items-center">
    <iframe
      class="rounded drop-shadow-md"
      width="600"
      height="371"
      seamless
      frameborder="0"
      scrolling="no"
      src="https://docs.google.com/spreadsheets/d/e/2PACX-1vRgpwTwpU-l6o_kCOcd__Fa5mGd68ent7ksluy2MoQ03LInnHu_2HiRZX1PqPJt1WQC6D66Dm1VK7OP/pubchart?oid=776375856&amp;format=interactive"
    ></iframe>
  </div>

  {% endblock %}
</body>
